<div *ngIf="this.sharedService._showWeather" class="WeatherInfoContainer">
  <div class="weeklyForcast">
    <p>hello</p>
  </div>
  <div class="info dayForcast">
    <p class="city">{{ this.sharedService._localData.name }}</p>
    <img class="data weatherIcon" src= "{{ this.sharedService.icon }}">
    
    <p class="temp">Temperature:</p>
    <p class="data tempData">{{ this.sharedService._localData.temp }}</p>
    
    <p class="humidity">Humidity: </p>
    <p class="data humidityData">{{ this.sharedService._localData.humidity }}</p>
    
    <p class="pressure">Pressure: </p>
    <p class="data pressureData">{{ this.sharedService._localData.pressure }}</p>
    
    <p class="description"> {{ this.sharedService._localDescription.main }}, </p>
    <p class="data descriptionData">{{ this.sharedService._localDescription.description }}</p>
    
  </div>
</div>