.WeatherInfoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 5%;
  grid-template-areas: 
  " f t t t "
}

.dayForcast {
  grid-area: t;
}

.weeklyForcast {
  grid-area: f;
  border:2px solid #FF8C00;
  border-radius: 5px;
}

p {
  color: white;
  margin: 10px;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  " . c i . "
  " . t td . "
  " . h hd . "
  " . p pd . "
  " . d dd . "
  " . v vd . ";
  border: 2px solid #FF8C00;
  border-radius: 5px;
}

.data {
  margin-left: 20%;
}

.city {
  grid-area: c;
}

.weatherIcon {
  grid-area: i;
}

.temp {
  grid-area: t;
}

.tempData {
  grid-area: td;
}

.humidity {
  grid-area: h;
}

.humidityData {
  grid-area: hd;
}

.pressure {
  grid-area: p;
}

.pressureData {
  grid-area: pd;
}

.description {
  grid-area: d;
}

.descriptionData {
  grid-area: dd;
}

.visibility {
  grid-area: v;
}

.visibilityData {
  grid-area: vd;
}